<%= form_with(model: mif, local: true) do |form| %>
  <% if mif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mif.errors.count, "error") %> prohibited this mif from being saved:</h2>

      <ul>
      <% mif.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
